#div_facedetection_main{
    width:1198px;
    height:580px;
}
#div_facedetection_tablebar{
    width: 100%;
    height: 36px;
    float: left;
    background-color: #2c2c2c;
    font-family: Arial;
    font-size: 14px;
}
#div_facedetection_settings{
    width: 1184px;
    height: 450px;
    margin: 8px 0 0 12px;
    float: left;
}
#div_facedetection_video_show{
    width:650px;
    height:420px;
    float: left;
    border:1px solid transparent;
}
#div_facedetection_param_settings{
    width:510px;
    height:430px;
    float: left;
    border:1px solid black;
}
#div_facedetection_param_items{
    //border:1px solid black;
}
#div_facedetection_video_player,#div_facedetection_video_drawer{
    width: 642px;
    height: 362px;
    border:1px solid black;
    position: absolute;
    left: 12px;
    top:45px;
    cursor: pointer;
}
#canvas_facedetection_region::selection{
    background-color: rgba(255,0,0,0.6);
}
.cls_facedct_parameter_item{
    width: 100%;
    height:28px;
    float: left;
    margin-left: 12px;
}
.cls_facedct_parameter_item_name{
    width: 195px;
    height: 24px;
    line-height: 24px;
    float: left;
}
.cls_facedct_parameter_item_value{
    width: 166px;
    height: 24px;
    float: left;
}
.cls_facedct_check_item{
    width: 22px;
    height: 22px;
    margin: 2px 0 0 4px;
    float: left;
}
.cls_facedct_slider_item{
    width:152px;
    height:6px;
    margin: 8px 0 0 4px;
    background-color: #c4c4c4;
    float: left;
}
.cls_facedct_options{
    width: 1040px;
    height: 600px;
    margin: 8px 0 0 12px;
    float: left;
}
#slider_facedct_confidence .ui-slider-range,
#slider_mask_confidence .ui-slider-range,
#slider_facedct_compress .ui-slider-range,
#slider_facedct_facezoom .ui-slider-range,
#slider_facedct_keeptime .ui-slider-range,
#slider_facedct_delaytime .ui-slider-range{
    background-color: rgb(123,185,51);
}
#slider_facedct_confidence .ui-slider-handle,
#slider_mask_confidence .ui-slider-handle,
#slider_facedct_compress .ui-slider-handle,
#slider_facedct_facezoom .ui-slider-handle,
#slider_facedct_keeptime .ui-slider-handle,
#slider_facedct_delaytime .ui-slider-handle{
    background-color: #aaaaaa;
    border:1px solid #333333;
    border-radius: 3px;
    width:12px;
    height:12px;
    outline: none;
}

/*==============================schedule=========================*/
.cls_schedule_item{
    width:888px;
    height:24px;
    float: left;
    border:1px solid transparent;
}
.cls_schedule_item_layout{
    float: left;
}
.cls_schedule_item_text{
    height: 24px;
    line-height: 24px;
}
.cls_schedule_radio{
    /*margin: 1px 0 0 2px;*/
    float: left;
}
#div_schedule_facedetection_manual,#div_schedule_wearmask_manual,#div_schedule_withoutmask_manual{
    width:100%;
    height:256px;
    float: left;
}
#facedetection_div_week_day,#wearmask_div_week_day,#withoutmask_div_week_day{
    width: 126px;
    height:224px;
    margin: 32px 0 0 0;
    float: left;
}
#div_schedule_facedetection_show,#div_schedule_wearmask_show,#div_schedule_withoutmask_show{
    width:734px;
    height: 256px;
    float: left;
}
#div_schedule_facedetection_operations,#div_schedule_wearmask_operations,#div_schedule_withoutmask_operations{
    width: 74px;
    height: 224px;
    float: left;
    margin: 32px 0 0 2px ;
}
#div_schedule_facedetection_ruler,#div_schedule_wearmask_ruler,#div_schedule_withoutmask_ruler{
    width: 734px;
    height:32px;
    float: left;
    margin: 0;
}
#div_schedule_facedetection_panel,#div_schedule_wearmask_panel,#div_schedule_withoutmask_panel{
    width: 720px;
    height:224px;
    border:1px solid transparent;
    margin: 0 0 0 6px;
    float: left;
}

#facedetection_div_setup_panel,#wearmask_div_setup_panel,#withoutmask_div_setup_panel{
    width:822px;
    height:278px;
    margin: 12px 0 0 32px;
}
#div_motion_rect_declare{
    width:600px;
    height: 16px;
    float: left;
    margin: 8px 0 0 12px;
    color: red;
}
.cls_schedule_dialog_item{
    width: 100%;
    height:32px;
    float: left;
}
.cls_schedule_dialog_check{
    width:100px;
    height:28px;
    float: left;
}
.cls_schedule_dialog_check_item{
    width: 12px;
    height:12px;
    float: left;
}
.cls_schedule_dialog_check_item_name{
    width:auto;
    height: 22px;
    line-height: 22px;
    float: left;
}
.cls_item_hcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
}
.ui-timer-widget{
    color: #fff;
}
.ui-timer-widget:disabled{
    color: #7f7f7f;
}
.cls_item_name_selected{
    color: red;
}
.cls_schedule_dialog_timer{
    width:92px;
    height: 26px;
    margin: 0 16px 0 4px;
    color: white;
    font-family: Arial;
    font-size: 12px;
    float: left;
}
.cls_schedule_dialog_duration_name{
    width:88px;
    height:28px;
    line-height: 28px;
    float: left;
}
.cls_page_item_name{
    width: 115px;
    height: 24px;
    line-height: 24px;
    float: left;
}
.cls_page_item_value{
    width: 240px;
    height: 24px;
    float: left;
}