select {
    border: solid 1px #242424;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    height: 22px;
    background:  url("/ui/images/drop.png") no-repeat scroll right center #444444;
    color: white;
    padding-right: 20px;
}
select::-ms-expand { display: none; }
div::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #545454;
}

div::-webkit-scrollbar
{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #545454;
}

div::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #242424;
}
div::-webkit-scrollbar-corner{
    background-color: #2c2c2c;
}
div{
    SCROLLBAR-FACE-COLOR :       #242424 ;
    SCROLLBAR-HIGHLIGHT-COLOR :  #545454 ;
    SCROLLBAR-SHADOW-COLOR :     #242424 ;
    SCROLLBAR-3DLIGHT-COLOR :     rgb(66,93,127) ;
    SCROLLBAR-ARROW-COLOR :     #868786;
    SCROLLBAR-TRACK-COLOR :     #545454 ;
    SCROLLBAR-DARKSHADOW-COLOR :     #242424 ;
    SCROLLBAR-BASE-COLOR :     #242424;
}
#div_hide_button_area{
    height:100%;
    width: 10px;
    margin:0;
    float: left;
}
#div_hide_button{
    height:60px;
    width:8px;
    border: 1px solid #323232;
}
#div_media_content{
    margin: 4px 0 2px 4px;
    padding: 1px;
    border:0 solid #FFC125;
    float: left;
    width: 100%;
    height: 1560px;
    transition: width 0.3s, height 0.3s;
    -webkit-transition: width 0.3s, height 0.3s;
    -moz-transition: width 0.3s, height 0.3s;
}
#div_video_player_show{
    transition: width 0.3s, height 0.3s;
    -webkit-transition: width 0.3s, height 0.3s;
    -moz-transition: width 0.3s, height 0.3s;
}
.cls_player_size_change{
    transition: width 0.3s, height 0.3s;
    -webkit-transition: width 0.3s, height 0.3s;
    -moz-transition: width 0.3s, height 0.3s;
}
#div_ptzctrl_area{
    width:210px;
    border:0 solid #cccccc;
    margin:4px 0 2px 4px;
    float: left;
    display: none;
    background: #323232;
    transition: display 0.3s;
    -webkit-transition: display 0.3s;
    -moz-transition: display 0.3s;
}
#div_video_player_show{
    width:100%;
    height: 680px;
    margin:0;
    background-color: #2c2c2c;
    border: 2px solid rgb(123, 185, 51);
    float: left;
    text-align: center;
}
#div_video_player{
    width: 100%;
    margin: 2px;
}
.cls_plugin_player{
    margin: 1px;
    float: left;
}
#div_video_control{
    width:100%;
    margin-top: 1px;
    height: 35px;
    border: 1px solid #323232;
    background-color: #323232;
    float: left;
}
#div_mormal_control{
    width:130px;
    height: 30px;
    margin:0;
    margin-top: 2px;
    float:left;
}
#div_advance_control{
    width: 300px;
    height: 30px;
    margin: 0;
    margin-top: 2px;
    float: right;
}
.control_button_left {
    margin-left: 8px;
    width:auto;
    height: auto;
    float: left;
}
.control_button_right{
    margin:0 1px 0 0;
    width:168px;
    height: 30px;
    float: right;
}
.img_button_cut{
    margin: 0 0 0 10px;
    width: 18px;
    height:18px;
    padding: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}
.img_group_button{
    width:40px;
    height:20px;
    cursor:pointer;
    margin: 1px;
    float: left;
    background-color: #cccccc;
    border:1px solid black;
    border-radius: 4px;
    padding:3px 0 0 4px;
}
.img_group_button:hover{
    border:1px solid rgb(123, 185, 51);
}

.cls_img_button{
    width: 26px;
    height: 20px;
    margin: 4px 0 0 4px;
    cursor: pointer;
}

.cls_popup_window{
    border: 1px solid black;
    border-radius: 4px;
    background-color: grey;
}

#img_button_audio_off:hover,#img_button_audio_on:hover,#img_button_talkback_off:hover,#img_button_talkback_on:hover,#img_button_snapshot:hover,#img_button_consecutive_snapshot:hover,#img_button_record:hover,#img_button_ezoom:hover,#img_button_fullscreen:hover{
    border:1px solid rgb(123, 185, 51);
}
#div_ptxctrl_direction{
    margin-top: 10px;
    margin-left: 2px;
    width:195px;
    height: 75px;
    float: left;
}
.span_ptz_buttons{
    margin:0;
    width:30px;
    height:30px;
    padding: 0;
    display: none;
    border:2px solid #cccccc;
    border-radius: 3px;
}
.span_ptz_buttons:hover{
    border:2px solid rgb(123, 185, 51);
}
.i_ptz_buttons{
    margin:0;
    width:30px;
    height:30px;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    background: url("../images/ptzcontrol/ptzallbtns.png");
}
#div_ptzctrl_extend{
    margin: 0 40px;
    width: 112px;
    height: 75px;
    float: left;
}
.i_ptzauto_buttons{
    margin:0;
    width:30px;
    height:30px;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    background: url("../images/ptzcontrol/autofocus.png");
}
.i_ptzext_buttons{
    margin:0;
    width:30px;
    height:30px;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    background: url("../images/ptzcontrol/ptzbtnextend.png");
}
#div_ptzctrl_speed{
    width:200px;
    height:50px;
    margin-top:12px;
    padding:0;
    float: left;
}
#div_slider_ptzctrl_speed{
    width:120px;
    height:6px;
    margin: 18px 0 0 10px;
    float: left;
}
#div_slider_ptzctrl_speed .ui-slider-range{
    background-color: rgb(123, 185, 51);
}
#div_slider_ptzctrl_speed .ui-slider-handle{
    background-color: #aaaaaa;
    border:1px solid #333333;
    border-radius: 3px;
    width:12px;
    height:12px;
    outline: none;
}
#input_ptzctrl_speed_value{
    width:30px;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    border:1px solid #c4c4c4;
    float: left;
}
.cls_slider_value{
    float: left;
    width:20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 14px;
    font-family: Arial;
    font-size: 12px;
    color: #7f7f7f;
}

#div_accordion{
    height: 100%;
}
#div_list_header
{
    margin-top: 20px;
    width: 200px;
    float: left;
}
.cls_preset_header_item{
    height:24px;
    width:46px;
    margin: 0;
    padding:0;
    float: left;
    border: 1px solid #8f8f8f;
}
.cls_preset_header_item:hover{
    background: rgb(123, 185, 51);
    cursor: pointer;
}
.cls_preset_header_selected{
    background: rgb(123, 185, 51);
}
#div_preset_operations,#div_cruise_operations{
    width: 190px;
    height: 32px;
    margin: 3px 0 0 0;
    float: left;
    border: 1px solid #8f8f8f;
}
.cls_preset_buttons{
    width: 24px;
    height: 24px;
    margin: 2px 3px;
    float: left;
    border: 2px solid transparent;
    cursor: pointer;
}
.cls_preset_buttons:hover{
    border: 2px solid rgb(123, 185, 51);
}
.cls_cruise_buttons{
    width: 24px;
    height: 24px;
    margin: 2px 1px;
    float: left;
    border: 2px solid transparent;
    cursor: pointer;
}
.cls_cruise_buttons:hover{
    border: 2px solid rgb(123, 185, 51);
}
.cls_cruise_buttons_disabled{
    width: 24px;
    height: 24px;
    margin: 2px 1px;
    float: left;
    border: 2px solid #4b4b4b;
    background-color: #4b4b4b;
}
.cls_preset_buttons_image{
    width: 16px;
    height: 16px;
    margin: 4px;
    padding:0;
    display: inline-block;
    background: url("/ui/images/ptzcontrol/presetctrl.png");
}
.cls_fisheye_setting_icon_area{
    width:30px;
    height:30px;
    float: left;
    margin: 10px 0 4px 0;
}
.cls_fisheye_param_item_icon{
    width:29px;
    height: 29px;
    margin: 1px;
    padding: 0;
    display: inline-block;
    background: url("/ui/images/fisheye/fishpara.png");
}
.cls_preset_normal_button{
    width: 16px;
    height: 16px;
    margin: 4px;
    padding:0;
    display: inline-block;
}
#div_preset_content,#div_cruise_point{
    width: 190px;
    margin: 0;
    padding:0;
    float: left;
    border: 1px solid #8f8f8f;
    overflow-y: auto;
}
.cls_list_item:hover{
    background-color: #4d6274;
    cursor: pointer;
}
.cls_list_item_select{
    background-color: #4d6274;
}
.cls_div_image_settings{
    width:190px;
    height:auto;
    margin: 0 0 0 5px;
    padding:0;
    float: left;
}
.cls_image_settings_declare{
    width:188px;
    margin: 2px 0 0 4px;
    padding: 0;
    height: 26px;
    font-size:12px;
}
.cls_button_streamtype {
    width:40px;
    height:40px;
    margin: 0 0 0 5px;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}
.cls_button_streamtype:hover{
    border: 2px solid rgb(123, 185, 51);
}
.cls_fisheye_button_select{
    border: 2px solid rgb(123, 185, 51);
}
#div_image_setting{
    margin-top: 18px;
    margin-left: 5px;
}
.cls_image_settings_item_slider{
    width:138px;
    height:16px;
    margin: 18px 0 0 5px;
    float: left;
}
.cls_image_settings_item_value{
    width:30px;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    border:1px solid #c4c4c4;
    float: left;
}
.cls_slider_imagesettings_range .ui-slider-range{
    background-color: rgb(123, 185, 51);
}
#div_slider_image_saturation{
    width:120px;
    height:6px;
    margin: 18px 0 0 10px;
    float: left;
}
#div_slider_image_saturation .ui-slider-handle{
    background-color: #aaaaaa;
    border:1px solid #333333;
    border-radius: 3px;
    width:12px;
    height:12px;
    outline: none;
}
#div_slider_image_brightness{
    width:120px;
    height:6px;
    margin: 18px 0 0 10px;
    float: left;
}
#div_slider_image_brightness .ui-slider-handle{
    background-color: #aaaaaa;
    border:1px solid #333333;
    border-radius: 3px;
    width:12px;
    height:12px;
    outline: none;
}
#div_slider_image_sharpness{
    width:120px;
    height:6px;
    margin: 18px 0 0 10px;
    float: left;
}
#div_slider_image_sharpness .ui-slider-handle{
    background-color: #aaaaaa;
    border:1px solid #333333;
    border-radius: 3px;
    width:12px;
    height:12px;
    outline: none;
}
#div_slider_image_contrast{
    width:120px;
    height:6px;
    margin: 18px 0 0 10px;
    float: left;
}
.cls_image_setting_icon_area{
    width:24px;
    height:24px;
    float: left;
    margin: 10px 0 4px 0;
}
.cls_image_setting_icon{
    width: 18px;
    height: 18px;
    margin: 3px;
}
#div_slider_image_contrast .ui-slider-handle{
    background-color: #aaaaaa;
    border:1px solid #333333;
    border-radius: 3px;
    width:12px;
    height:12px;
    outline: none;
}
.img_profile_item{
    width: 16px;
    height:16px;
    margin-top: 12px;
    margin-left: 12px;
}
.cls_image_setting_item{
    width: 100%;
    height:42px;
    float: left;
}
.img_buttons_fisheye_setting{
    width:18px;
    height: 18px;
    margin: 10px 10px;
}
#div_cruise_point_add{
    width: 108px;
    height: 168px;
    overflow-y: auto;
    display: none;
    position: absolute;
    z-index: 2001;
    background: #2d2d2d;
    border:1px solid black;
}
#div_alternate_content{
    width: 190px;
    height: 42px;
    margin: 3px 0 0 0;
    float: left;
    border: 1px solid #8f8f8f;
}
#div_trackpath_contect{
    width: 190px;
    height: 68px;
    margin: 3px 0 0 0;
    float: left;
    border: 1px solid #8f8f8f;
}

#div_slider_fisheye_centerx,#div_slider_fisheye_centery,#div_slider_fisheye_inner,#div_slider_fisheye_outer,#div_slider_fisheye_angle{
    width:120px;
    height:6px;
    margin: 18px 0 0 10px;
    float: left;
}
#div_slider_fisheye_centerx .ui-slider-handle,
#div_slider_fisheye_centery .ui-slider-handle,
#div_slider_fisheye_inner   .ui-slider-handle,
#div_slider_fisheye_outer   .ui-slider-handle,
#div_slider_fisheye_angle   .ui-slider-handle{
    background-color: #aaaaaa;
    border:1px solid #333333;
    border-radius: 3px;
    width:12px;
    height:12px;
    outline: none;
}
.cls_preview_button{
    width: 128px;
    height: 30px;
    background-color: #4b4b4b;
    border: 1px solid #242424;
    border-radius: 6px;
    outline: none;
    text-align: center;
    color: #7f7f7f;
    cursor: pointer;
}
.cls_preview_button:hover{
    background-color: rgb(123, 185, 51);
    border: 1px solid #104e8b;
    color: white;
}
.cls_preview_button:disabled{
    background-color: #4b4b4b;
    border: 1px solid #242424;
    color: #242424;
    cursor: default;
}

/*=================tips dialog=================*/
#div_tips_dialog{
    width:288px;
    height: 178px;
    background-color: #4e6a78;
    z-index: 1999;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid black;
}
#div_tips_dialog_titlebar{
    width: 288px;
    height: 32px;
    float: left;
    background-color: #242424;
}
#div_tips_dialog_content{
    width:260px;
    height:116px;
    float: left;
    margin: 20px 0 0 14px;
    font-family: Arial;
    font-size: 12px;
    color: white;
}
#button_tips_dialog_close{
    width: 14px;
    height: 14px;
    float: right;
    margin: 9px 8px 0 0;
    background: url("../images/closen.png") no-repeat;
}
#button_tips_dialog_close:hover{
    background: #191919 url("../images/closeh.png") no-repeat;
}
.cls_preset_btn_setting{
    color: #000;
}
.cls_preset_btn_start{
    color: #000;
}

.bv-skin-default video{
    object-fit:fill;
    margin: auto;
}


/* -  - - - - - - -   ---  - volume - -  -- -  --  */
#div_slider_volume{
    height:120px;
    width:6px;
    background-color: #cacaca;
}
#div_slider_volume .ui-slider-range{
    background-color: rgb(34,174,249);
}
#div_slider_volume .ui-slider-handle{
    background-color: #aaaaaa;
    border:1px solid #333333;
    border-radius: 3px;
    width:12px;
    height:12px;
    outline: none;
}

select option:hover{
    background-color: #7bb933;
} 