#div_https_main{
    margin: 0;
    width: 940px;
    height: auto;
}
#div_https_tablebar{
    width: 100%;
    height: 36px;
    float: left;
    background-color: #2c2c2c;
    font-family: Arial;
    font-size: 14px;
}
#div_https_content{
    width: 930px;
    height: 298px;
    float: left;
    margin-top: 8px;
}
.cls_subpage_content{
    width: 920px;
    height: auto;
}
.cls_https_content_title{
    width: 100%;
    float: left;
    margin-left: 12px;
    margin-top: 8px;
    font-family: Arial;
    font-size: 14px;
}
.cls_https_content_title_text{
    margin-left: 12px;
}
.cls_schedule_radio{
    /*margin: 1px 0 0 2px;*/
    float: left;
}
#div_request_created_text,#div_certification_path_text,#div_password_path_text,#div_certificate_installed_text,#div_installed_attributes_text{
    width: auto;
    height: 24px;
    line-height: 24px;
    margin: 10px 6px 0 24px;
    float: left;
}

/*==================dialog=================*/
#div_dialog_content{
    width: 440px;
    height: 260px;
    margin: 12px 0 0 20px;
    float: left;
}
.cls_create_dialog_item{
    width:455px;
    height: 30px;
    float: left;
}
.cls_create_dialog_item_name{
    width:155px;
    height: 24px;
    line-height: 24px;
    float: left;
}
.cls_create_dialog_item_value{
    width: 126px;
    height: 26px;
    margin:  0 0 0 4px;
    float: left;
}
.cls_input_maxbit{
    width: 140px;
    height: 24px;
    line-height: 24px;
    float: left;
    color: #c4c4c4;
    margin: 0 0 0 4px;
    font-family: Arial;
    font-size: 12px;
}
#browse_installed_attributes{
    border: 1px solid #242424;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 120px;
    width: 228px;
    margin-top: 5px;
    font: 400 13.3333px Arial;
    background: #2f2f2f;
    color: #7f7f7f;
}
#div_tips_content{
    width: 280px;
    height: 96px;
    float: left;
    margin: 22px 0 0 16px;
    font-family: Arial;
    font-size: 12px;
    color: white;
}