#div_wifi_main{
    width: 960px;
    height:580px;
    margin: 0;
    padding: 0;
}

#div_wifi_tablebar{
    width: 100%;
    height: 38px;
    float: left;
    background-color: #2c2c2c;
    font-family: Arial;
    font-size: 14px;
}
#div_note_wifi_support{
    width: 800px;
    height: 24px;
    margin: 0 0 0 12px;
    float: left;
}
#div_wifi_operations{
    width: 936px;
    height: 40px;
    margin: 8px 0 0 8px;
    float: left;
}
#div_wifi_operation_bar{
    width: 930px;
    height: 40px;
    float: left;
}
#div_wifi_opt_buttons{
    width:340px;
    height: 38px;
    margin:0 0 0 4px;
    float: right;
}
#div_wifi_enable{
    width: 180px;
    margin-top: 6px;
    height: 24px;
    float: left;
}
#div_wifi_list{
    width:936px;
    height:260px;
    border: 1px solid #141414;
    margin: 0 0 0 10px;
    float: left;
}
#div_wifi_status{
    width: 936px;
    height: 130px;
    float: left;
}
#div_wifi_connect_status{
    width: 936px;
    height:128px;
    margin: 12px  0 0 10px;
    float: left;
    background-color: #2d2d2d;
    border:1px solid #141414;
}
.cls_wifi_status_item{
    width: 900px;
    height:24px;
    float: left;
    height: 24px;
    line-height: 24px;
}
.cls_wifi_status_item_name{
    width: 140px;
    height: 24px;
    float: left;
    margin-left: 12px;
}
.cls_wifi_status_item_value{
    width: 100px;
    height: 24px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#div_wifi_page_refresh{
    width: 936px;
    height:42px;
    margin: 10px  0 0 10px;
    float: left;
}
#div_wifi_list_header{
    width: 100%;
    height: 26px;
    float: left;
}
#div_wifi_list_content{
    width: 100%;
    height: 222px;
    float: left;
    overflow-y: auto;
    margin-top: 8px;
}
#div_wifi_list_content table{
    width: 100%;
    height: auto;
    float: left;
    border-spacing: 0px;
}
.cls_wifi_list_item{
    width:180px;
    height:24px;
    color: white;
    font-size:12px;
    border-right: 1px solid transparent;
}
.cls_wifi_list_item_value{
    width:184px;
    height:24px;
    color: white;
    font-size:12px;
    border-right: none;
    text-align: center;
}
.cls_wifi_signal_image{
    width: 21px;
    height:21px;
    margin:  0 0 0 39px;
}
.cls_wifi_list{
    width:916px;
    height: 24px;
}
.cls_wifi_list:nth-child(even){
    background-color: #313131;
}
.cls_wifi_list:nth-child(odd){
    background-color: #2d2d2d;
}
.cls_wifi_list:hover{
    background-color: #4e6a78;
}
.cls_connect_item{
    width: 440px;
    height: 30px;
    float: left;
}
.cls_connect_item_name{
    width: 195px;
    float: left;
    color: white;
    font-size: 12px;
}
.cls_connect_item_value{
    width: 188px;
    height: 28px;
    float: left;
    font-size:12px;
}
#div_connect_wifi_content{
    width:440px;
    float: left;
    margin:10px 0 0 0;
}
.cls_item_name_text{
    height: 24px;
    line-height: 24px;
}
#div_connect_wifi_options{
    width: 340px;
    height: 40px;
    float: left;
    margin: 30px 0 0 50px;
}
#div_wifi_modify_content{
    width: 342px;
    float: left;
    margin: 20px 0 0 42px;
}
#div_wifi_modify_options{
    width: 340px;
    height: 38px;
    float: left;
    margin: 30px 0 0 20px;
}
.cls_wifi_modify_mode_item{
    width:96px;
    height: 28px;
    float: left;
}
.cls_wifi_modify_item{
    width:312px;
    margin-top: 5px;
    float: left;
}
.cls_wifi_modify_item_name{
    width:110px;
    height:22px;
    line-height: 22px;
    float: left;
}
.cls_wifi_modify_item_value{
    width:168px;
    height: 22px;
    float: left;
}
input::-ms-reveal{
    display: none;
}
.cls_schedule_dialog_check_item{
    width: 12px;
    height:12px;
    float: left;
}
.cls_schedule_dialog_check_item_name{
    width:auto;
    height: 22px;
    line-height: 22px;
    float: left;
}
.cls_schedule_radio{
    /*margin: 1px 0 0 2px;*/
    float: left;
}
.cls_item_hcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
}
.cls_network_setting_input{
    width: 168px;
    height: 20px;
    float: left;
    background-color: #2f2f2f;
    border: 1px solid #242424;
    color: white;
}
.ui-ipedit-widget{
    width: 34px;
    color: white;
}
.ui-ipedit-widget:disabled{
    color: #7f7f7f;
}