#div_ipfilter_main{
    width:780px;
    height: 380px;
}
#div_ipfilter_titlebar{
    width: 100%;
    height: 38px;
    float: left;
    background-color: #2c2c2c;
    font-family: Arial;
    font-size: 14px;
}
#div_ipfilter_content{
    width:768px;
    height: 380px;
    margin: 8px 0 0 12px;
    float: left;
}
.cls_ipfilter_item{
    width:520px;
    height: 28px;
    float: left;
}
.cls_ipfilter_item_name{
    width:150px;
    height: 22px;
    line-height: 22px;
    float: left;
    font-family: Arial;
    font-size: 12px;
    color: white;
}
.cls_schedule_radio{
    /*margin: 1px 0 0 2px;*/
    float: left;
}
.cls_ipfilter_item_value{
    width: 234px;
    height: 24px;
    float: left;
    font-size: 12px;
    font-family: Arial;
}
#div_ipfilter_options{
    width:100%;
    height:42px;
    float: left;
    margin: 10px 0 0 0;
}
#div_ipfilter_list{
    width: 668px;
    height:230px;
    margin: 10px 0 0 0;
    float: left;
}
.cls_ipfilter_list_header_item{
    width:220px;
    height:22px;
    color: white;
    margin-top: 3px;
    float: left;
    font-size:12px;
    border-right: 1px solid transparent;
}
#div_ipfilter_list_content{
    height: 194px;
    width:666px;
    float: left;
    border: 1px solid black;
    overflow-y: hidden;
    overflow-x: hidden;
}
#div_ipfilter_list_items{
    height: 188px;
    width:666px;
    float: left;
    margin: 2px 0 0 0;
    border: 1px solid transparent;
    overflow-y: auto;
    overflow-x: hidden;
}
.cls_ipfilter_list_item{
    width:220px;
    height:24px;
    margin: 4px 0 0 0;
    color: white;
    font-size:12px;
    border-right: 1px solid transparent;
}
.cls_ipfilter_list_item_size{
    width: 662px;
    height: 24px;
    float: left;
    height: 26px
}
.cls_ipfilter_list_row{
    padding: 0;
}
.cls_ipfilter_list_row:nth-child(even){
    background-color: #313131;
}
.cls_ipfilter_list_row:nth-child(odd){
    background-color: #2d2d2d;
}
.cls_ipfilter_list_row:hover{
    background-color: #4e6a78;
}
.cls_ipfilter_list_row_selected{
    background-color: #4e6a78;
}

/*==================dialog==================*/
#div_dialog_content{
    width: 320px;
    height: 152px;
    margin: 12px 0 0 20px;
    float: left;
}
.cls_ipfilter_dialog_item{
    width:318px;
    height: 30px;
    float: left;
    margin-left: 25px;
}
.cls_ipfilter_dialog_item_name{
    width:115px;
    height: 24px;
    line-height: 24px;
    float: left;
}
.cls_ipfilter_dialog_item_value{
    width: 126px;
    height: 24px;
    float: left;
}
#div_ipfilter_buttons{
    width:340px;
    height: 32px;
    margin: 10px 0 0 0;
    float: left;
}

.ui-ipedit-widget{
    width:32px;
    color: white;
    font-size: 12px;
    font-family: Arial;
}
.cls_ipedit_container{
    width:160px;
    height: 22px;
    float: left;
    background-color: #2f2f2f;
    color: white;
    border: 1px solid #242424;
}